<header>
		
		<div class="has-text-centered">
			<!--เพื่อเลื่อนโลโก้ ไปอยู่ตรงกลาง เอาโค้ดมาจากbulma-->
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		
		<nav class="navbar-tabs">
			
			<a href="https://www.facebook.com/ChickenChickenChanal" class="navbar-item">KORN</a>
			<!--navbar-item คือคำสั่งหนึ่งของ bulma-->
			<a href="https://www.facebook.com/superatom.suthi" class="navbar-item">ATOM</a>
			<a href="https://www.facebook.com/sam.stark.37" class="navbar-item">SAM</a>
			<a href="https://www.facebook.com/s.pitnu" class="navbar-item">PIDNU</a>
			<a href="https://www.facebook.com/profile.php?id=100001927746759" class="navbar-item">FEW</a>
			<a href="https://www.facebook.com/b.tanatpon" class="navbar-item">BOSS</a>
			<a href="https://www.facebook.com/phakorn.bam" class="navbar-item">BAM</a>
			<a href="https://www.facebook.com/chanasak.auetidsakul" class="navbar-item">BOAT<span class="tag is-success" style="margin-left: 1em;">
          New!
        </span></a>
		</nav>

	</header>